# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Unity-Portability-Tester.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Projects\Unity-Portability-Tester\.idea\.idea.Unity-Portability-Tester\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
